@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

header img {
    width: 100%;
    height: auto;
}

header div {
    margin-left: 25%;
    margin-right: 25%;
}

body {
    background-image: linear-gradient(45deg, #009ddc, #03f7eb);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

h1 {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: #054a91;
    margin-bottom: 4%;
    margin-top: 2%;
    padding: 10px;
    font-size: 80px;
}

nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    column-gap: 3%;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    border: 2px solid #00B295;
    background-color: #00B295;
    padding: 5%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 3%;
}

.menu:hover {
    background-color: #f26430;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 98%;
    height: 98%;
    margin: auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #f26430;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 45px;
    border: 2px solid black;
    padding: 5%;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
    text-indent: 5%;
    font-size: 35px;
    margin: 1% 1% 1% 1%;
}

#blocoHistoria {
    display: grid;
    grid-template-columns: 47% 47%;
    column-gap: 3%;
    margin-left: 4%;
    margin-right: 4%;
}

.imageCenter {   
    width: 50%;
    height: 25%;
    margin-left: 26%;
}

.pCenter {
    margin-left: 15%;
    margin-right: 15%;
}

li {
    font-size: 30px;
    margin-left: 20%;
}

#container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 4%;
    margin-right: 1%;
    column-gap: 3%;
    margin-bottom: 5%;
}

.turismo {
    width: 95%;
    height: 95%;
    margin: 2%;
}

.turismo:hover {
    width: 96%;
    height: 96%;
}


#item1 {
    text-align: center;
    color: #054A91;
    font-weight: bold;
    font-size: 30px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

#item2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

#item3 {
    text-align: center;
    color: #054A91;
    font-weight: bold;
    font-size: 30px;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#item4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

#item5 {
    text-align: center;
    color: #054A91;
    font-weight: bold;
    font-size: 30px;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

#item6 {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

footer p {
    font-size: 10px;
    text-align: left;
}

#sobre {
    margin-bottom: 1%;
}
#foto {
    width: 300px;
    height: 300px;
    margin: auto;
}

h3 {
    text-align: center;
    color: white;
}

.paragrafoTop {
    font-size: 20px;
}

#cronologia > li {
    font-size: 20px;
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
}